@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Hebrew:wght@100..900&family=Oswald:wght@200..700&family=Poppins:wght@400;900&display=swap');


/*Feed recipes*/

  .feedcontainer {
    /* Adjust the gap and number of columns as desired */
    column-gap: 1rem;
    column-count: 3; /* You can adjust this number based on your desired layout */
    max-width: 1500px;
    margin: 0 auto;
    padding: 0rem 4rem;
  }

  .recipeBlock {
    break-inside: avoid; /* Prevent this block from being split across columns */
    margin-bottom: 1rem; /* Adjust as needed */
  }
  
  .recipeCard {
    position: relative; 
    margin-bottom: 0rem;
    background-color: #f3efe7;
    text-align: center;
  }
  
  .recipeCard a, .recipeCard a:visited {
    text-decoration: none;
    color: rgba(81,135,218,255);
  }

  .recipeTitle {
    font-size: 19px;
    font-family: "Noto Serif Hebrew", serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin: 3px 0 20px 0;
  }

  .recipeTitle a, .recipeTitle a:visited {
    text-decoration: none;
    color: rgba(81,135,218,255);
  }

  .recipeImage{
      width: 100%;
      display: block;
      border-radius: 10px;
  }


  .loadMoreContainer {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

  .loadMoreButton {
    font-family: "Noto Serif Hebrew", serif;
    font-weight: 600;
    color: rgba(81,135,218,255);
    padding: 10px 20px; /* Example padding */
    border: none; /* Example border removal */
    font-size: 1rem; /* Example font size */
    cursor: pointer; /* Changes cursor to indicate button */
    border-radius: 5px; /* Rounds corners of the button */
    transition: background-color 0.3s; /* Smooth transition for background color change */
  }

  .buttonAtFirst {
    position: absolute;
    bottom: 4px; 
    right: 6px; 
    background-color: transparent;
    color: rgb(4, 19, 175);
    font-size: 40px;
    font-weight: 300;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 4px 0px;
    border: none;
  }

  .buttonAtFirst:hover {
    font-size: 50px;
    font-weight: 500;
  }
  /* Responsive adjustments */

  /* desktop */
@media (min-width: 1924px) {
    .recipeCard h2 {
      font-size: 26px
    }
  }

  /* Laptop size is here in the middle, where all basic css applies*/

  /* font fix before going iPad size*/
@media (max-width: 1224px) {
    .recipeCard h2 {
      font-size: 20px
    }

  }
  
  /* iPad */
  @media (max-width: 1124px) {
    .feedcontainer {
      column-count: 2;
      padding: 0rem 2rem
    }
  }
  /* mobile */
  /*this first media shoud probably be included in the second one*/
  @media (max-width: 768px) {
    .recipeImage {
      max-height: 700px; /* Smaller height on smaller screens */
    }
  }
  @media (max-width: 650px) {
    .feedcontainer {
      column-count: 2;
      column-gap: 0.45rem;
      padding: 1rem 0rem;
    }
    .recipeCard {
      text-align: center;
    }
    .recipeCard h2 {
      margin-top: 0.1rem;
      margin-bottom: 0.3rem;
      padding: 0px;
      font-size: 16px
    }

    .buttonAtFirst {
      bottom: 2px; 
      right: 4px; 
      font-size: 25px;
      font-weight: 300;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0px 0px 4px 0px;
      border: none;
    }
  
    .buttonAtFirst:hover {
      font-size: 30px;
      font-weight: 500;
    }
  
  }
  
