.logoutbutton {
    position: fixed;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1200;
    padding: 8px;
    color: rgb(4, 19, 175);
    font-size: 15px;
    font-weight: 600;
}

.logoutbutton:hover {
    font-size: 16px;
}


  /* desktop */
  @media (min-width: 1924px) {
    .logoutbutton {
      top: 14px;
      right: 18px; 
    }
  }


/* mobile */
@media (max-width: 768px) {
    .logoutbutton {
        font-size: 10px;
        top: 7px;
        right: 4px;
    }

    .logoutbutton:hover {
        font-size: 10px;
    }
    
}