    .nav {
      display: flex;
      justify-content: center;
      width: 100%; /* Ensures it takes the full width */
    }
   
    .ulList {
      list-style: none;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      border-bottom: 2px solid rgb(255, 59, 0);
      width: 88%;
      text-align: center;
      padding: 0; /* Remove default padding */
    }
  
  .liItem {
    padding: 3px 20px 3px 20px;
    border-radius: 20px;
  }
  
  .link {
    text-decoration: none;
    color: rgb(255, 159, 124);
    font-family: "Noto Serif Hebrew", serif;
    font-weight: 600;
    
  }

  .link.active {
    color: rgb(255, 59, 0); 
    font-weight: 1000;
  }

  .link:hover {
    color: rgb(255, 72, 6); 
    font-weight: 1000;
    padding: 0 3px 0 3px
  }

  /* Hamburger Menu 
.hamburger {
  display: none; 
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  height: 25px; 
  width: 30px;
}

.hamburgerLine {
  background-color: #000; 
  height: 2px;
  width: 100%;
}

     desktop 
@media (min-width: 1950px ) {
  .ulList {
    width: 62%;
  }
}




 Mobile view 
@media (max-width: 768px) {
  .ulList {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .ulList.show {
    display: flex; 
  }

  .hamburger {
    display: flex;
  }
}
  


*/