@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');

.recipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
  padding: 15px; /* Add some padding around */
}

.recipeImage {
  max-width: 800px; /* Adjust based on your preference */
  width: 100%;
  margin: 0 auto; /* Center the image */
}

.recipeTitle {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 38px;
  text-align: center;
}

.recipeContent {
  width: 100%; 
  text-align: start; 
  margin-top: 20px;
  margin-left: 5px;

}
.recipeContent p {
  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: rgba(68, 126, 214, 255)
}

.recipeContainer a {
  text-decoration: none;
  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: rgba(81,135,218,255);

}

@media (max-width: 768px) {
  .recipeTitle {
    font-size: 26px;
  }
  .recipeImage {
    max-height: 700px; /* Smaller height on smaller screens */
  }
  .recipeContent p {
    font-size: 18px;
  }
}
