@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');

.recipeContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content */
  max-width: 800px; /* Matches the image's max width */
  margin: 0 auto;
  padding: 15px;
}

.recipeImage {
  max-width: 700px; /* Adjust based on your preference */
  width: 100%;
  margin: 0 auto; /* Center the image */
}

.recipeTitle {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
}

.backButton {
  position: fixed;
  top: 72px; 
  left: 120px; 
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1100;
  padding: 8px;
  color: rgb(255, 59, 0);
}

.backIcon {
  fill: none;
}


.recipeContent {
  width: 100%; 
  text-align: start; 
  margin-top: 10px;
  margin-left: 5px;

}
.recipeContent p {
  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  color: rgba(68, 126, 214, 255);
  line-height: 1.4;
}

.recipeContainer a {
  text-decoration: none;
  font-family: "Ibarra Real Nova", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: rgba(81,135,218,255);
}

.buttonContainer{
  display: flex;
  justify-content: right;
}

.buttonAtFirst {
  background-color: rgb(4, 19, 175);
  color: white;
  font-size: 15px;
  font-weight: 300;
  width: 85px;
  height: 35px;
  margin: 10px 5px 0 0;
  padding: 0 12px 0 12px;
  border: none;
  border-radius: 30px;
}

.buttonAtFirst:hover {
  width: 90px;
  height: 35px;
  font-weight: 400;
  margin: 10px 3px 0 0;
}


@media (max-width: 768px) {
  .recipeTitle {
    font-size: 26px;
  }
  .recipeImage {
    max-height: 700px; /* Smaller height on smaller screens */
  }
  .recipeContent p {
    font-size: 18px;
    margin-left: 7px;
    margin-right: 3px;
  }

  .buttonAtFirst {
    background-color: rgb(4, 19, 175);
    color: white;
    font-size: 10px;
    font-weight: 200;
    width: 62px;
    height: 25px;
    margin: 10px 5px 0 0;
    padding: 0 12px 0 12px;
    border: none;
    border-radius: 30px;
  }
  
  .buttonAtFirst:hover {
    width: 65px;
    height: 25px;
    font-weight: 300;
    margin: 10px 3px 0 0;
  }
}
