@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');
.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px auto;
    width: 100%;
    max-width: 600px;
    position: relative;
  }

  .searchInput {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    font-family: "Ibarra Real Nova", serif;
    font-weight: 600;
    position: relative;
  }
  
  .searchInput::before {
    content: "\1F50D";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #ccc;
    border: 1px solid #ccc;
  }
  
  .searchButton {
    display: none;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .searchInput:focus + .searchButton,
  .searchInput:not(:placeholder-shown) + .searchButton {
    display: block;
  }
  
  .searchButton::before {
    content: "\27A4";
    color: rgb(255, 59, 0);
  }


  .eiTulosta {
    display: flex;
    justify-content: center;
    color: rgba(81,135,218,255);
  }

  .eiTulosta p {
    color: rgba(81,135,218,255);
    font-family: "Ibarra Real Nova", serif;
    font-weight: 600;
    font-size: 20px;
  }


  /* Mobile */
  @media (max-width: 768px) {
      .searchbar {
        max-width: 270px;
      }

      .eiTulosta p {
        font-size: 16px;
      }
  }
  