.gridContainer {
    width: 100%;
    display: flex;
    justify-content: center; /* Ensure items are centered */
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between items as needed */
    margin: 20px auto;
  }

  .recipeBlock {
    break-inside: avoid; /* Prevent this block from being split across columns */
    margin-bottom: 0rem; /* Adjust as needed */
  }
  
  .categoryItem {
    display: flex;
    flex-direction: column;
    padding: 0px 10px; 
    border-radius: 8px;
    text-align: center; 
    width: fit-content;
  }
  
  .categoryImageWrapper {
    width: 300px;
    height: calc(300px * (12 / 9)); /* This calculates to 320px for a 180px width */
    position: relative;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .categoryImage {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
  }
  
  .categoryTitle {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px; /* Larger font size */
    line-height: 1.2; /* Adjust line height for better readability */
    color: rgba(81,135,218,255);
  }

  .categoryTitle:hover {
    font-size: 30px; /* Larger font size */
  }

  .recipesGrid {
    column-gap: 1rem;
    column-count: 3; /* Adjust based on desired layout */
    max-width: 1500px;
    margin: 0 auto;
    padding: 0rem 4rem 0rem 4rem;
  }
  
  .recipeCard {
    break-inside: avoid;
    margin-bottom: 1rem;
    background-color: #f3efe7;
    text-align: center;
    border-radius: 8px; /* Keeps rounded corners */
    overflow: hidden; /* Ensures the image does not overflow */
  }
  
  .recipeCard a, .recipeCard a:visited {
    text-decoration: none;
    color: rgba(81,135,218,255);
  }
  
  .recipeTitle {
    font-size: 20px;
    font-family: "Noto Serif Hebrew", serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin: 3px 0 20px 0;
  }

  .recipeTitle a, .recipeTitle a:visited {
    text-decoration: none;
    color: rgba(81,135,218,255);
  }
  
  .recipeImage {
    width: 100%;
    display: block;
    border-radius: 10px;
  }

  .buttonContainer {
    position: relative; /* Creates a positioning context */
    /* Ensure the container fills the intended area, possibly adjusting width and height */
  }
  
  .backButton {
    position: fixed;
    top: 72px; 
    left: 120px; 
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1100;
    padding: 8px;
    color: rgb(255, 59, 0);
  }
  
  .backIcon {
    fill: none;
  }

  .recipeLink {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Keeps text color consistent with the rest of your design */
  }

  .buttonAtFirst {
    position: absolute;
    bottom: 4px; 
    right: 4px; 
    background-color: transparent;
    color: rgb(4, 19, 175);
    font-size: 40px;
    font-weight: 300;
    width: 40px;
    height: 40px;
    display: flex;
    margin: 0px 0px 4px 0px;
    border: none;
  }

  .buttonAtFirst:hover {
    font-size: 45px;
    font-weight: 500;
    bottom: 7px; 
    right: 6px; 
  }

  .loadMoreContainer {
    display: flex;
    justify-content: center;
    padding: 40px;
  }

  .loadMoreButton {
    font-family: "Noto Serif Hebrew", serif;
    font-weight: 600;
    color: rgba(81,135,218,255);
    padding: 10px 20px; /* Example padding */
    border: none; /* Example border removal */
    font-size: 1rem; /* Example font size */
    cursor: pointer; /* Changes cursor to indicate button */
    border-radius: 5px; /* Rounds corners of the button */
    transition: background-color 0.3s; /* Smooth transition for background color change */
  }

  .ownerName {
    position: absolute;
    bottom: 12px; 
    left: 8px;
    color: #FFFFFF;
    padding: 4px 8px; 
    font-family: "Noto Serif Hebrew", serif;
    font-size: 12px;
    font-weight: 600;
  }

 /* Adjustments for smaller screens */
 @media (max-width: 1224px) {
  .recipeCard h2 {
    font-size: 20px
  }

}
@media (max-width: 1124px) {
    .recipesGrid {
      column-count: 2;
      padding: 0rem 2rem 0rem 2rem;
    }
    .backButton {
      left: 60px; 
    }

  }
  
  @media (max-width: 730px) {
    .gridContainer {
      width: 100%;
      padding: 0; /* Reset any horizontal padding */
      margin: 0px auto; /* Center the container */
      justify-content: center; /* Center flex items horizontally */
      gap: 0px; /* Adjust the gap between items as needed */
    }
    .backButton{
      top: 30px;
      left: 15px; 
    }
    .categoryItem {
      margin: 0px; 
      padding: 0px 0px; 
    }
    .catgoryWrapper{
      margin: 10px 0 0 0; /* Small margin to ensure there is space around items */
      padding: 0px 10px;
    }
    .categoryImageWrapper { 
      width: 200px;
      height: calc(200px * (13 / 9)); /* This calculates to 320px for a 180px width */
      position: relative;
      border-radius: 8px;
      overflow: hidden;
    }
    .recipesGrid {
      column-count: 2; /* Maintain two columns */
      column-gap: 0.45rem; /* Adjust the gap as needed, but keep it small */
      padding: 10px 0rem; /* Adjust padding to ensure it doesn't cause alignment issues */
      margin: 0 auto; /* Center the grid within its container */
      max-width: 100%; /* Ensure the grid does not exceed the viewport width */
      box-sizing: border-box; /* Include padding in the width calculation */
    }
    .recipeCard {
      break-inside: avoid-column; /* Ensure cards are not split across columns */
      margin-bottom: 0rem; /* Keep consistent spacing between cards */
      width: 100%; /* Ensure cards do not exceed the column width */
    }
    .recipeCard h2 {
      margin-top: 0.1rem;
      margin-bottom: 0.3rem;
      padding: 0px;
      font-size: 16px
    }
    .recipeImage {
      max-height: 700px; /* Smaller height on smaller screens */
    }
    .recipeTitle {
      font-size: 15px;
      margin: 6px 0 20px 0;
    }
    .categoryTitle {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 20px;
    }
    .categoryTitle:hover {
      font-size: 23px; /* Larger font size */
    }
    .buttonAtFirst {
      bottom: 3px; 
      right: 0px; 
      font-size: 25px;
      font-weight: 500;
      width: 20px;
      height: 20px;
      display: flex;
      margin: 0px 0px 4px 0px;
      border: none;
    }
  
    .buttonAtFirst:hover {
      font-size: 30px;
      font-weight: 600;
    }
    .ownerName {
      position: absolute;
      bottom: 8px; 
      left: 8px;
      padding: 0px 0px; 
      font-size: 10px;
      font-weight: 500;
    }

  }

    /* Iphone 14 and 15 plus */
    @media (max-width: 440px) {
      .categoryImageWrapper { 
        width: 180px;
        height: calc(180px * (13 / 9)); 
      }

      .catgoryWrapper{
        padding: 0px 8px;
      }

      .categoryTitle {
        font-size: 19px;
      }

      .categoryTitle:hover {
        font-size: 20px;
      }
      
    }
  
  /* Iphone 11 - 13 */
  @media (max-width: 415px) {
    .categoryImageWrapper { 
      width: 158px;
      height: calc(158px * (13 / 9)); 
    }

    .catgoryWrapper{
      padding: 0px 9px;
    }
    
  }

    /*Iphone 7, 8, XS,*/
    @media (max-width: 390px) {
      .categoryWrapper { 
        padding: 0px 4px;
      }

      .categoryImageWrapper { 
        width: 160px;
        height: calc(150px * (13 / 9));
      }
      
    }

    /*Samsung galaxy  */
    @media (max-width: 372px) {
      .categoryWrapper { 
        padding: 0px 6px;
      }

      .categoryImageWrapper { 
        width: 145px;
        height: calc(150px * (13 / 9));
      }
      
    }