/* UserCategories.module.css */
.gridContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Adjust the gap between items as needed */
    margin: 20px auto; /* Add some margin around the grid */
  }
  
  .categoryItem {
    display: flex;
    padding: 10px; 
    border-radius: 8px;
    text-align: center; 
  }
  
  .categoryImageWrapper {
    width: 100%; 
    padding-top: 100%; /* Padding-top as a percentage of the width creates a square */
    position: relative; /* Relative positioning for the absolute child */
    border-radius: 8px; /* Optional: round corners for the wrapper */
    overflow: hidden; /* Ensures the image does not overflow the square */
  }
  
  .categoryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
  }
  
  .categoryTitle {
    cursor: pointer;
    margin-top: 10px; /* Space between the image and the title */
  }

  .recipesGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between items */
    margin: 20px 0; /* Margin above and below the recipes container */
  }
  
  .recipeItem {
    flex: 1 1 200px; /* Flex-grow, flex-shrink, and flex-basis */
    max-width: calc(25% - 20px); /* Adjust based on gap and number of items per row */
    border-radius: 8px; /* Example border-radius */
    overflow: hidden; /* Ensures the image does not overflow */
  }
  
  /* Responsive adjustments for the recipes container */
  @media (max-width: 768px) {
    .recipeItem {
      max-width: calc(50% - 20px); /* Adjust for smaller screens - 2 items per row */
    }
  }
  