@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&display=swap');
.container {
    display: flex;
    flex-direction: row;
    align-items: stretch; /* This will stretch the child elements to fill the container */
    justify-content: center;
    height: 100vh;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


/* Styles for the form container */
.formContainer {
    flex: 1; /* This will make the form container take up all available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px; 
    padding-bottom: 150px; /* Consider reducing this if you want the form to stretch to the bottom */
    background-color: rgb(4, 19, 175);
    border-radius: 15px 0px 0px 15px; /* Round only the top-right and bottom-right corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    overflow: auto; /* Add scroll if content is larger than the screen */
}

.title {
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 11em; /* Adjust size as needed */
    padding-right: 0.15em;
    margin: 0rem; /* Spacing between the title and the form */
    color: rgb(255, 72, 6);
  }

.secondtitle {
    justify-content: flex-start;
    text-align: center;
    font-size: 5.5em;
    padding: 0em 0.7em;
    color: rgb(255, 72, 6);
    font-family: "Abril Fatface";
  }

.thirdtitle {
    color: rgb(253, 81, 19);
    font-size: 1.4em;
    padding-top: 0em;
  }

.form {
    font-size: 16px;
    color: rgb(255, 252, 238);
    width: 40%;
  }

.label {
    padding: 0em;
    display: block;
}

.inputfield {
    width: 100%; /* Make input take full width of its parent container */
    padding: 0.3em; /* Adjust padding as needed */
    margin: 0em 0em 0.4em 0em ; /* Adjusted margin to only be vertical */
    border: 0.05px solid rgb(0, 0, 0); /* Blue border color */
    border-radius: 4px; /* Optional: Adds rounded corners to the input field */
    font-size: 1em; /* Adjust font size as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
  }

/* New class for the form control group */
.formControl {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the flex container */
    margin-bottom: 1em; /* Add some space below each form control group */
  }

.submitButton {
    display: block;
    width: 80%; /* Width of the button */
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(253, 81, 19);
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 25px;
    margin-left: auto; /* Center the button horizontally */
    margin-right: auto; /* Center the button horizontally */
    font-family: "Ibarra Real Nova", serif;
  }



  /* desktop */

  
  @media (min-width: 1924px) {

    .title {
      font-size: 17em; /* Adjust size as needed */
      margin-right: 2rem; /* Spacing between the title and the form */
    }

    .secondtitle {
      font-size: 7em;
      padding: 0em 2.5em;
    }

    .form {
      font-size: 20px;
      width: 18%;
    }
  }















/* Ipad screen */

  @media (max-width: 1124px) {
    .title {
        font-size: 12em;
        padding-right: 0em;
    }

    .formContainer {
        padding: 30px
    }

    .form {
      font-size: 13px;
      width: 50%;
    }

    .secondtitle {
      font-size: 4.5em;
      padding: 0em 0.5em;
    }

    .thirdtitle {
        font-size: 2.5em;
        padding-top: 4em;
    }

  }
  









/* Mobile screen */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center; /* Ensures text inside the container is centered */
        margin: 0;
        padding: 0;
    }

    .title {
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
        margin-bottom: 1.5rem; /* Adjust as needed */
        font-size: 50px;
        width: 100%; /* Ensure title takes full width */
        display: flex; /* Change display to flex */
        justify-content: center; /* Center content horizontally */
        align-items: center; /* Center content vertically if needed */
        text-align: center; /* Ensures text is centered */
    }

    .secondtitle {
        font-size: 2.6em;
        padding: 0.2em;
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 0.1em;
      }

    .thirdtitle {
        font-size: 1.2em;
        padding-top: 2em
      }
  
    .formContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px; /* Increased padding for larger look */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
      }

    .form {
        font-size: 14px;
        text-align: left;
        width: 60%;
      }
    
    .inputfield {
        padding: 0.2em; /* Adjust padding as needed */
        margin: 0em 0em 0.5em 0em ; /* Adjusted margin to only be vertical */
        font-size: 1em; /* Adjust font size as needed */
    }

    .submitButton {
        width: 80%; /* Width of the button */
        padding: 10px 5px;
        font-size: 14px;
        margin-top: 25px;
      }
  }