
.gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; 
    margin: 20px; 
  }
  
  .categoryItem {
    padding: 10px;
    border-radius: 8px; 
    text-align: center; 
  }
  
  .categoryImageWrapper {
    width: 100%; /* Full width of the container */
    padding-top: 100%; /* Padding-top as a percentage of the width creates a square */
    position: relative; /* Relative positioning for the absolute child */
    border-radius: 8px; /* Optional: round corners for the wrapper */
    overflow: hidden; /* Ensures the image does not overflow the square */
  }
  
  .categoryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without losing its aspect ratio */
  }
  
  .categoryTitle {
    cursor: pointer;
    margin-top: 10px; /* Space between the image and the title */
    color: rgba(81,135,218,255);
  }
  
 /* Responsive adjustments */
@media (max-width: 1024px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for small screens */
  }
}

@media (max-width: 480px) {
  .gridContainer {
    grid-template-columns: repeat(1, 1fr); /* 1 column for very small screens */
  }
}